li {
	display: inline-block;

	box-sizing: border-box;
	width: 18.75rem;
	margin: 1em;

	background: lightgray;
}

li.toggledOn {
	height: 31.25rem;
}

.content {
	height: 12.5rem;
}

.expanded {
	position: absolute;
	top: auto;
	left: 0;

	width: 100%;
	height: 18.75rem;
	margin-top: .625rem;

	text-align: left;

	background: #ddd;
}
