li {
	display: inline-block;

	box-sizing: border-box;
	width: 25%;
	margin-bottom: 1rem;
}

li.toggledOn {
	height: 40rem;
}

.content {
	height: 12.5rem;

	background: lightcoral;
	position: relative;
	box-sizing: border-box;
	padding: 1rem;
}

li.toggledOn .content::after {
	position: absolute;
	left: 50%;
	bottom: -1rem;

	content: ' ';
	border: solid transparent;
	height: 0;
	width: 0;
	border-bottom-color: orange;
	border-width: 1.5rem;
	pointer-events: none;
	margin-left: -1.5rem;
}

.expanded {
	position: absolute;
	top: auto;
	left: 0;

	width: 100%;
	height: 26.5rem;
	margin-top: 1rem;

	text-align: left;

	padding: 1rem;
	background: orange;
	box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 37.5rem) {
	li {
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 37.5rem) {
	li {
		width: 49%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48rem) {
	li {
		width: 32%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62rem) {
	li {
		width: 24%;
	}
}
